nz-form-item {
  nz-form-control {
    nz-input-number {
      width: 100%;
    }
    button {
      margin-right: 8px;
    }
  }
  &.inline-item {
    margin-bottom: 8px;
    nz-form-control {
      nz-select,
      nz-input-number,
      input,
      textarea {
        min-width: 200px;
      }
    }
  }
}
